.discography h3 {
    margin-bottom: 15px;
    font-size: 170%;
    font-weight: 400;
}
.album_details {
    display: flex;
    background-color: #692df5;
    color: #ffffff;
    padding: 5px 15px;
    margin: 5px 0;
}


.flex_separator_one {
    flex: 1;
}

.price_label {
    padding-top: 5px;
    margin-right: 30px;
}

.album_action,
.song_action {
    padding: 2px 10px;
    border: transparent;
    border-radius: 5px;
    margin: 0 7px;
    background-color: #ff2d2d;
    color: #ffffff;
    font-weight: bold;
}

.album_action:focus,
.song_action:focus {
    outline: none;
}

.song_action {
    padding: 0 20px;
}

.disabled {
    background-color: #eba0a0;
}


.song_details {
    display: flex;
    background-color: #86aada;
    color: #000000;
    padding: 5px 15px;
    margin: 5px 10px;
}

.song_details:nth-child(odd){
    background-color: #ffffff;
    margin: 0 10px;
}

.btn_paragraph {
    display: flex;
    align-items: center;
}

.toggle_down_btn,
.play_pause_btn {
    background-color: transparent;
    border: none;
    padding: 1px 5px;
    font-size: 16px;
}

.toggle_down_btn:focus,
.play_pause_btn:focus {
    outline: none;
}

.toggle_down_btn i {
    color: #ffffff;
    padding: 0;
}

